@page
@model RWLasvegasITLabAccess.Pages.SignoffModel 

@{
    ViewData["Title"] = "Signin Access Form";
    //Model.ToasterMessage=TempData["AddMessage"].ToString();
}


<form method="POST"  id="User" class="container">
       
    <div>
<div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2"></label>
           <div class="col-lg-8">
           <h2> <span> Sign Off Form  </span></h2>
           </div>
       </div></div>

    <div class="form-group">
       <div class="row">
        <label asp-for="SignoffUser.AccessCard" class="control-label col-sm-2"></label>
                 <div class="col-lg-8">
                @* @if(!string.IsNullOrEmpty(Model.Message))
                { *@
                
                <input id="inputAccessCard" onkeyup="HideValidation('#inputAccessCard');" asp-for="SignoffUser.AccessCard"  value ="@Model.AccessCardId" placeholder="Enter Access Card Nunber" class="form-control" />
  
                @* }
                else
                {
                    <input id="inputAccessCard" onkeyup="HideValidation('#inputAccessCard');" asp-for="SignoffUser.AccessCard" placeholder="Enter Access Card Nunber" class="form-control" />
                } *@
                
                 <span class="text-danger" asp-validation-for="SignoffUser.AccessCard" ></span>
                 </div>
       </div>
    </div>

     <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2"></label>
            <div class="col-lg-8">
           
            <button type="submit" class="btn btn-primary">Search</button>
           </div>
        </div>
    </div>
    
    @if(Model.AccessCardId != null)
    { 
    <div  id="ValidationSection" class="form-group" style="display: none;">
        <div class="row">
             <label class="control-label col-sm-2"></label>
            <div class="col-lg-8">
            <span class="text-danger">Please select one record.</span>
            </div>
        </div>
    </div>
    
    
    
    <div class="form-group">
        <div class="row">
            @if(Model.DataRecords != null && Model.DataRecords.Count()>0 )
    {
    <table class="table table-sm">

     <tr>
         <thead>
             <th> <input type="checkbox" id="HeaderCheckbox" onchange="CheckAll()"  class="form-check" value="0" > </th>
             <th> Access Card </th>
             <th>Vendor Name</th>
             <th>First Name</th>
             <th>Last Name </th>
             <th>Email </th>
             <th>Sign In date</th> 
             <th>IP Address </th>
              <th>Purpose of visit </th>

         </thead>
     </tr> 
    
    @foreach(var record in Model.DataRecords)
    {
    <tr>
        @{ 
            var tempFirstName=string.IsNullOrEmpty(record.FirstName) ? "NA" : record.FirstName;
            var tempLastName=string.IsNullOrEmpty(record.LastName) ? "NA" : record.LastName;
            var tempVendorName=string.IsNullOrEmpty(record.VendorName) ? "NA" : record.VendorName;
            var tempEmail=string.IsNullOrEmpty(record.Email) ? "NA" : record.Email;
        
        
         }
        <td><input type="checkbox" name="RecordId" class="form-check" value="@record.Id" > </td>
        <td>@record.AccessCard</td>
        <td>@tempVendorName</td>
        <td> @tempFirstName </td>
        <td>@tempLastName</td>
        <td>@tempEmail</td>
        <td>@record.AddedDate</td>
        <td>@record.IPAddress</td>
        <td>@record.Purposeofvisit</td>
        
    </tr>

    }
   
</table>
    }
    @if (Model.DataRecords.Count()==0 && Model.SignoffMessage == null)
    {
        <label class="control-label col-sm-2"></label>
            <div class="col-lg-8">
       <span class="text-danger">No active sign in found!</span> 
            </div>
    }
    
 </div>
    </div>
@if (Model.DataRecords.Count()>0)
    {
<div class="form-group">
        <div class="row">
        <div class="col-lg-8">
           <button type="button" onclick="SignOff()" class="btn btn-primary">Sign-Off</button>
          <input type="hidden" asp-for="SignoffUser.SelectedRecords" id="SelectedRecords" /> 
        
        </div>
        </div>
</div>
    }
    }

    </form>


    @if(Model.SignoffMessage != null)
{
   <div id="SucessMessage" class="alert alert-success">@Model.SignoffMessage</div>

   
}

@section Scripts
{
<script>

function CheckAll()
{
    var checkedStatus=$('#HeaderCheckbox').prop('checked');
    console.log(checkedStatus);
    $('table input:checkbox').prop('checked', checkedStatus);
   // console.log($('table input:checkbox').val());
   
  
}

function SignOff()
{
    var form_elements= $('table input[type=checkbox]:checked');
    if(form_elements.length==0)
    { 
        $('#ValidationSection').css('display','block');
        //alert('Please select any one record.');
       
        return false;
    }
    $('#ValidationSection').css('display','none');
     var obj = [];
     console.log(form_elements);
    $.each(form_elements, function(index, value ) {
             var tmp = {
        'Id': $(value).val()
         }
        obj.push(tmp);
              });
  
    //alert(JSON.stringify(obj));
    $('#SelectedRecords').val(JSON.stringify(obj));
    $('#User').submit();
}

function HideValidation( controlName)
  {
     
      if($(controlName).val()=='')
      {
          $(controlName).css('border-color','red');
        }
        else
        {
             $(controlName).css('border-color','#ced4da');
        }
     

        
  }

  setTimeout(function(){ $('#SucessMessage').css('display','none') }, 10000);
</script>

}

